input[type = text] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;
}
.btn-warning{
    margin-top: 10px;
}

input#namepost {
    width: 40%;    
    margin-top: 10px;
}

select.form-context {
    margin-top: 10px;
}

input.form-context {
    margin-top: 10px;
}

input#submit {
    margin-top: 10px;
}